<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Husky-shaped base -->
  <xacro:macro name="husky_base" params="prefix single_mani:=true as_two_wheels:=false fixed_wheels:=false">

  
  <!-- Load husky description -->
  <xacro:include filename="$(find husky_description)/urdf/husky_macro.urdf.xacro" />
  <xacro:husky prefix="${prefix}" as_two_wheels="${as_two_wheels}" fixed_wheels="${fixed_wheels}" />
  

    <link name="top_structure_link">
      <inertial>
        <origin rpy="0 0 0" xyz="-0.108 0 0.252"/>
        <mass value="36.436"/>
        <inertia ixx="6.35" ixy="0.001" ixz="1.711" iyy="7.648" iyz="-0.004" izz="3.775"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <xacro:if value="${single_mani}">
            <mesh filename="package://fr3_husky_description/meshes/ROAS_structure_single.stl"/>
          </xacro:if>
          <xacro:unless value="${single_mani}">
            <mesh filename="package://fr3_husky_description/meshes/ROAS_structure.stl"/>
          </xacro:unless>
        </geometry>
        <material name="medium_grey">
          <color rgba="0.6 0.6 0.6 1.0"/>
        </material>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0.006"/>
        <geometry>
          <box size="0.90 0.65 0.012"/>
        </geometry>
      </collision>
      <xacro:if value="${single_mani}">
          <collision>
            <origin rpy="0 0 0" xyz="0.32 0 0.018"/>
            <geometry>
              <box size="0.25 0.35 0.01"/>
            </geometry>
          </collision>
      </xacro:if>
      <collision>
        <origin rpy="0 0 0" xyz="-0.28 0 0.65"/>
        <geometry>
          <box size="0.32 0.56 1.3"/>
        </geometry>
      </collision>
    </link>

    <joint name="top_structure_joint" type="fixed">
      <parent link="base_link"/>
      <child link="top_structure_link"/>
      <origin rpy="0 0 0" xyz="0 0 0.248"/>
    </joint>

  </xacro:macro>
</robot>
