<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="single_fr3_husky">
    <xacro:include filename="$(find franka_description)/robots/common/franka_robot.xacro"/>
    <xacro:include filename="$(find fr3_husky_description)/robots/husky_base.xacro" />
    <xacro:include filename="$(find fr3_husky_description)/robots/realsense_d435i.urdf.xacro"/>
    <xacro:include filename="$(find fr3_husky_description)/robots/azure_kinect.urdf.xacro"/>

    <!-- ============================================================= -->
    <!-- Which arm: left or right -->
    <xacro:arg name="side" default="left"/>

    <!-- Should an end-effector be mounted at the flange? -->
    <xacro:arg name="hand" default="true" />

    <!-- Should self-collision be enabled? -->
    <xacro:arg name="with_sc" default="true" />

    <!-- Is the robot being controlled with ros2_control?" -->
    <xacro:arg name="ros2_control" default="false" />

    <xacro:arg name="use_mujoco" default="false" />

    <!-- Should a fake hardware be used? -->
    <xacro:arg name="use_fake_hardware" default="false" />

    <!-- Should fake sensors be used? -->
    <xacro:arg name="fake_sensor_commands" default="false" />

    <xacro:arg name="use_mujoco" default="false" />
    
    <!-- Use franka hand finger joint as fixed? -->
    <xacro:arg name="fix_finger" default="false"/>

    <!-- Add virtual joint? -->
    <xacro:arg name="virtual_joint" default="false"/>

    <!-- Assume Husky as two wheel mobile? (use only for pinocchio, not ros2_control) -->
    <xacro:arg name="as_two_wheels" default="false"/>

    <!-- Add Azure Kinect to the Husky Base? -->
    <xacro:arg name="use_azure" default="true" />

    <!-- Add Intel RealSense D435i to both EE of FR3? ? -->
    <xacro:arg name="use_d435i" default="true" />
    <!-- ============================================================= -->

    <!-- Derived properties from side -->
    <xacro:property name="arm_prefix"
                    value="$(arg side)"/>

    <xacro:property name="side_val" value="$(arg side)"/>
    <xacro:property name="robot_ip"
                    value="${'172.16.5.5' if side_val == 'left' else '172.16.6.6'}"/>

    <!-- Virtual -->
    <xacro:if value="$(arg virtual_joint)">
        <link name="world"/>

        <joint name="world_to_vx" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <parent link="world"/>
            <child  link="v_x_link"/>
        </joint>

        <link name="v_x_link" />

        <joint name="v_x_joint" type="prismatic">
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <parent link="v_x_link"/>
            <child link="v_y_link"/>
            <axis xyz= "1 0 0"/>
            <limit effort="1000.0" lower="-10000.0" upper="10000.0" velocity="10000.0"/>
        </joint>

        <link name="v_y_link" />

        <joint name="v_y_joint" type="prismatic">
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <parent link="v_y_link"/>
            <child link="v_t_link"/>
            <axis xyz= "0 1 0"/>
            <limit effort="1000.0" lower="-10000.0" upper="10000.0" velocity="10000.0"/>
        </joint>

        <link name="v_t_link" />

        <joint name="v_t_joint" type="revolute">
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <parent link="v_t_link"/>
            <child link="base_link"/>
            <axis rpy="0 0 0" xyz="0 0 ${0.1651 - 0.03282}"/>
            <limit effort="1000.0" lower="-6.24" upper="6.24" velocity="10000.0"/>
        </joint>
    </xacro:if>

    <!-- Husky -->
    <xacro:husky_base prefix="" single_mani="true" as_two_wheels="$(arg as_two_wheels)" fixed_wheels="false" />
    
    <joint name="tmp_base_joint" type="fixed">
        <parent link="base_link"/>
        <child link="tmp_base"/>
        <origin rpy="0 0 0" xyz="0.36 0.0 0.27"/>
    </joint>

    <!-- Load base->camera TF calibration -->
    <xacro:if value="$(arg use_azure)">
        <xacro:property name="base2cam_tf"  value="${xacro.load_yaml('$(find fr3_husky_description)/config/TF_base2cam.yaml')}"/>
        <xacro:azure_kinect is_reverse="true" prefix="top"/>

        <joint name="base2top_cam" type="fixed">
            <parent link="base_link"/>
            <child link="top_azure_rgb_link"/>
            <origin
                xyz="${base2cam_tf['translation'][0]} ${base2cam_tf['translation'][1]} ${base2cam_tf['translation'][2]}"
                rpy="${base2cam_tf['euler_zyx'][0]}   ${base2cam_tf['euler_zyx'][1]}   ${base2cam_tf['euler_zyx'][2]}"/>
        </joint>
    </xacro:if>

    
    <!-- Load ee->camera TF calibration depending on which arm side -->
    <xacro:if value="$(arg use_d435i)">
        <xacro:property name="ee2cam_tf"
            value="${xacro.load_yaml('$(find fr3_husky_description)/config/TF_ee2cam_$(arg side).yaml')}"/>

        <xacro:realsense_d435i is_reverse="true" prefix="${arm_prefix}"/>

        <joint name="${arm_prefix}_ee2d435i" type="fixed">
            <xacro:if value="$(arg hand)">
                <parent link="${arm_prefix}_fr3_hand"/>
            </xacro:if>
            <xacro:unless value="$(arg hand)">
                <parent link="${arm_prefix}_fr3_link8"/>
            </xacro:unless>
            <child link="${arm_prefix}_d435i_color_optical_frame"/>
            <origin
                xyz="${ee2cam_tf['translation'][0]} ${ee2cam_tf['translation'][1]} ${ee2cam_tf['translation'][2]}"
                rpy="${ee2cam_tf['euler_zyx'][0]} ${ee2cam_tf['euler_zyx'][1]} ${ee2cam_tf['euler_zyx'][2]}"/>
        </joint>
    </xacro:if>

    <xacro:franka_robot 
        arm_id="fr3"
        joint_limits="${xacro.load_yaml('$(find franka_description)/robots/fr3/joint_limits.yaml')}"
        inertials="${xacro.load_yaml('$(find franka_description)/robots/fr3/inertials.yaml')}"
        kinematics="${xacro.load_yaml('$(find franka_description)/robots/fr3/kinematics.yaml')}"
        accelerometer_config="${xacro.load_yaml('$(find franka_description)/robots/fr3/accelerometers.yaml')}"
        dynamics="${xacro.load_yaml('$(find franka_description)/robots/fr3/dynamics.yaml')}"
        gazebo="false"
        hand="$(arg hand)"
        ee_id="franka_hand"
        special_connection=""
        xyz_ee="0 0 0"
        rpy_ee="0 0 ${-pi/4}"
        tcp_xyz="0 0 0.1034"
        tcp_rpy="0 0 0"
        safety_distance="0.015"
        with_sc="$(arg with_sc)"
        ros2_control="$(arg ros2_control)"
        use_mujoco="$(arg use_mujoco)"
        robot_ip="${robot_ip}"
        use_fake_hardware="$(arg use_fake_hardware)"
        fake_sensor_commands="$(arg fake_sensor_commands)"
        gazebo_effort="false"
        no_prefix="false"
        arm_prefix="${arm_prefix}"
        description_pkg="franka_description"
        connected_to="tmp_base"
        fix_finger="$(arg fix_finger)">
    </xacro:franka_robot>
</robot>
