<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fr3">

    <xacro:include filename="$(find franka_description)/robots/common/franka_arm.srdf.xacro"/>
    <xacro:include filename="$(find fr3_husky_description)/robots/husky_base.srdf.xacro"/>

    <!-- ============================================================= -->
    <!-- Which arm: left or right -->
    <xacro:arg name="side" default='left'/>

    <!-- Should an end-effector be mounted at the flange? -->
    <xacro:arg name="hand" default="true" />

    <!-- Should self-collision be enabled? -->
    <xacro:arg name="with_sc" default="true" />

    <!-- Assume Husky as two wheel mobile? (use only for pinocchio, not ros2_control) -->
    <xacro:arg name="as_two_wheels" default="false"/>

    <!-- Add Azure Kinect to the Husky Base? -->
    <xacro:arg name="use_azure" default="true" />

    <!-- Add Intel RealSense D435i to EE of FR3? -->
    <xacro:arg name="use_d435i" default="true" />
    <!-- ============================================================= -->

    <!-- Derived arm_prefix from side -->
    <xacro:property name="arm_prefix" value="$(arg side)"/>

    <xacro:property name="modified_prefix"
                    value="${arm_prefix + '_' if arm_prefix else ''}"/>

    <xacro:property name="as_two_wheels_val" value="$(arg as_two_wheels)"/>
    <xacro:property name="wheel_suffix"
                    value="${'_dummy' if str(as_two_wheels_val).lower() == 'true' else ''}"/>


    <!-- link list: hand, hand sc, d435i, arm, arm sc, base -->

    <!-- ============= hand ============= -->
    <!-- hand - hand -->
    <!-- already in franka_arm_srdf -->

    
    <!-- hand - hand sc -->
    <xacro:if value="$(arg hand)">
        <xacro:if value="$(arg with_sc)">
            <disable_collisions link1="${modified_prefix}fr3_hand"        link2="${modified_prefix}fr3_hand_sc" reason="Adjacent"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger"  link2="${modified_prefix}fr3_hand_sc" reason="Default"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="${modified_prefix}fr3_hand_sc" reason="Default"/>
        </xacro:if>
    </xacro:if>

    <!-- hand - d435i -->
    <xacro:if value="$(arg hand)">
        <disable_collisions link1="${modified_prefix}fr3_hand"        link2="${modified_prefix}d435i" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_leftfinger"  link2="${modified_prefix}d435i" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="${modified_prefix}d435i" reason="Default"/>
    </xacro:if>

    <!-- hand - arm -->
    <!-- already in franka_arm_srdf -->
    <xacro:if value="$(arg hand)">
        <xacro:if value="$(arg with_sc)">
            <disable_collisions link1="${modified_prefix}fr3_hand"        link2="${modified_prefix}fr3_link0" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_hand"        link2="${modified_prefix}fr3_link1" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_hand"        link2="${modified_prefix}fr3_link2" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_hand"        link2="${modified_prefix}fr3_link5" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger"  link2="${modified_prefix}fr3_link0" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger"  link2="${modified_prefix}fr3_link1" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger"  link2="${modified_prefix}fr3_link2" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger"  link2="${modified_prefix}fr3_link5" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="${modified_prefix}fr3_link0" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="${modified_prefix}fr3_link1" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="${modified_prefix}fr3_link2" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="${modified_prefix}fr3_link5" reason="User"/>
        </xacro:if>
    </xacro:if>

    <!-- hand - arm sc -->
    <xacro:if value="$(arg hand)">
        <xacro:if value="$(arg with_sc)">
            <disable_collisions link1="${modified_prefix}fr3_hand"        link2="${modified_prefix}fr3_link4_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_hand"        link2="${modified_prefix}fr3_link5_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_hand"        link2="${modified_prefix}fr3_link6_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_hand"        link2="${modified_prefix}fr3_link7_sc" reason="Default"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger"  link2="${modified_prefix}fr3_link4_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger"  link2="${modified_prefix}fr3_link5_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger"  link2="${modified_prefix}fr3_link6_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger"  link2="${modified_prefix}fr3_link7_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="${modified_prefix}fr3_link4_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="${modified_prefix}fr3_link5_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="${modified_prefix}fr3_link6_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="${modified_prefix}fr3_link7_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_hand"        link2="${modified_prefix}fr3_link0_sc" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_hand"        link2="${modified_prefix}fr3_link1_sc" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_hand"        link2="${modified_prefix}fr3_link2_sc" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_hand"        link2="${modified_prefix}fr3_link3_sc" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger"  link2="${modified_prefix}fr3_link0_sc" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger"  link2="${modified_prefix}fr3_link1_sc" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger"  link2="${modified_prefix}fr3_link2_sc" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger"  link2="${modified_prefix}fr3_link3_sc" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="${modified_prefix}fr3_link0_sc" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="${modified_prefix}fr3_link1_sc" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="${modified_prefix}fr3_link2_sc" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="${modified_prefix}fr3_link3_sc" reason="User"/>
        </xacro:if>
    </xacro:if>

    <!-- hand - base -->
    <xacro:if value="$(arg hand)">
        <disable_collisions link1="${modified_prefix}fr3_hand"        link2="base_link"                        reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_leftfinger"  link2="base_link"                        reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="base_link"                        reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_hand"        link2="front_left_wheel${wheel_suffix}"                reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_leftfinger"  link2="front_left_wheel${wheel_suffix}"                reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="front_left_wheel${wheel_suffix}"                reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_hand"        link2="front_right_wheel${wheel_suffix}"               reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_leftfinger"  link2="front_right_wheel${wheel_suffix}"               reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="front_right_wheel${wheel_suffix}"               reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_hand"        link2="rear_left_wheel${wheel_suffix}"                 reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_leftfinger"  link2="rear_left_wheel${wheel_suffix}"                 reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="rear_left_wheel${wheel_suffix}"                 reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_hand"        link2="rear_right_wheel${wheel_suffix}"                reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_leftfinger"  link2="rear_right_wheel${wheel_suffix}"                reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="rear_right_wheel${wheel_suffix}"                reason="User"/>
        
        <xacro:if value="$(arg with_sc)">
            <disable_collisions link1="${modified_prefix}fr3_hand"        link2="base_wheel_collision_box_link" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger"  link2="base_wheel_collision_box_link" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="base_wheel_collision_box_link" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_hand"        link2="top_structure_link"            reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger"  link2="top_structure_link"            reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="top_structure_link"            reason="User"/>
        </xacro:if>
    </xacro:if>



    <!-- ============= hand sc ============= -->
    
    <!-- hand sc - hand sc -->
    <!-- none -->

    <!-- hand sc - d435i -->
    <xacro:if value="$(arg hand)">
        <xacro:if value="$(arg with_sc)">
            <disable_collisions link1="${modified_prefix}fr3_hand_sc" link2="${modified_prefix}d435i_link" reason="Never"/>
        </xacro:if>
    </xacro:if>

    <!-- hand sc - arm -->
    <xacro:if value="$(arg hand)">
        <xacro:if value="$(arg with_sc)">
            <disable_collisions link1="${modified_prefix}fr3_hand_sc" link2="${modified_prefix}fr3_link0" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_hand_sc" link2="${modified_prefix}fr3_link1" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_hand_sc" link2="${modified_prefix}fr3_link2" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_hand_sc" link2="${modified_prefix}fr3_link3" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_hand_sc" link2="${modified_prefix}fr3_link4" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_hand_sc" link2="${modified_prefix}fr3_link5" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_hand_sc" link2="${modified_prefix}fr3_link6" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_hand_sc" link2="${modified_prefix}fr3_link7" reason="Default"/>
        </xacro:if>
    </xacro:if>

    <!-- hand sc - arm sc -->
    <xacro:if value="$(arg hand)">
        <xacro:if value="$(arg with_sc)">
            <disable_collisions link1="${modified_prefix}fr3_hand_sc" link2="${modified_prefix}fr3_link3_sc" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_hand_sc" link2="${modified_prefix}fr3_link4_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_hand_sc" link2="${modified_prefix}fr3_link5_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_hand_sc" link2="${modified_prefix}fr3_link6_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_hand_sc" link2="${modified_prefix}fr3_link7_sc" reason="Default"/>
        </xacro:if>
    </xacro:if>

    <!-- hand sc - base -->
    <xacro:if value="$(arg hand)">
        <xacro:if value="$(arg with_sc)">
            <disable_collisions link1="${modified_prefix}fr3_hand_sc" link2="base_link"                        reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_hand_sc" link2="front_left_wheel${wheel_suffix}"                reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_hand_sc" link2="front_right_wheel${wheel_suffix}"               reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_hand_sc" link2="rear_left_wheel${wheel_suffix}"                 reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_hand_sc" link2="rear_right_wheel${wheel_suffix}"                reason="User"/>
        </xacro:if>
    </xacro:if>
    
    <!-- ============= d435i ============= -->
    <!-- d435i - d435i -->
    <!-- none -->

    <!-- d435i - arm -->
    <xacro:if value="$(arg use_d435i)">
        <disable_collisions link1="${modified_prefix}d435i_link" link2="${modified_prefix}fr3_link3" reason="Never"/>
        <disable_collisions link1="${modified_prefix}d435i_link" link2="${modified_prefix}fr3_link4" reason="Never"/>
        <disable_collisions link1="${modified_prefix}d435i_link" link2="${modified_prefix}fr3_link5" reason="Never"/>
        <disable_collisions link1="${modified_prefix}d435i_link" link2="${modified_prefix}fr3_link6" reason="Never"/>
        <disable_collisions link1="${modified_prefix}d435i_link" link2="${modified_prefix}fr3_link7" reason="Never"/>

        <xacro:if value="$(arg with_sc)">
            <disable_collisions link1="${modified_prefix}d435i_link" link2="${modified_prefix}fr3_link0" reason="User"/>
            <disable_collisions link1="${modified_prefix}d435i_link" link2="${modified_prefix}fr3_link1" reason="User"/>
            <disable_collisions link1="${modified_prefix}d435i_link" link2="${modified_prefix}fr3_link2" reason="User"/>
        </xacro:if>
    </xacro:if>

    <!-- d435i - arm sc -->
    <xacro:if value="$(arg use_d435i)">
        <xacro:if value="$(arg with_sc)">
            <disable_collisions link1="${modified_prefix}d435i_link" link2="${modified_prefix}fr3_link3_sc" reason="User"/>
            <disable_collisions link1="${modified_prefix}d435i_link" link2="${modified_prefix}fr3_link4_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}d435i_link" link2="${modified_prefix}fr3_link5_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}d435i_link" link2="${modified_prefix}fr3_link6_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}d435i_link" link2="${modified_prefix}fr3_link7_sc" reason="Never"/>
        </xacro:if>
    </xacro:if>

    <!-- d435i - base -->
    <xacro:if value="$(arg use_d435i)">
        <disable_collisions link1="${modified_prefix}d435i_link" link2="base_link"                        reason="User"/>
        <disable_collisions link1="${modified_prefix}d435i_link" link2="front_left_wheel${wheel_suffix}"                reason="User"/>
        <disable_collisions link1="${modified_prefix}d435i_link" link2="front_right_wheel${wheel_suffix}"               reason="User"/>
        <disable_collisions link1="${modified_prefix}d435i_link" link2="rear_left_wheel${wheel_suffix}"                 reason="User"/>
        <disable_collisions link1="${modified_prefix}d435i_link" link2="rear_right_wheel${wheel_suffix}"                reason="User"/>
    </xacro:if>

    <!-- ============= arm ============= -->
    <!-- arm - arm -->
    <xacro:franka_arm_srdf arm_id="fr3"
                           hand="$(arg hand)"
                           ee_id="franka_hand"
                           no_prefix="false"
                           arm_prefix="${modified_prefix}">
    </xacro:franka_arm_srdf>

    <xacro:if value="$(arg with_sc)">
        <disable_collisions link1="${modified_prefix}fr3_link0" link2="${modified_prefix}fr3_link5" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link0" link2="${modified_prefix}fr3_link6" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link0" link2="${modified_prefix}fr3_link7" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link1" link2="${modified_prefix}fr3_link5" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link1" link2="${modified_prefix}fr3_link6" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link1" link2="${modified_prefix}fr3_link7" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link2" link2="${modified_prefix}fr3_link5" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link2" link2="${modified_prefix}fr3_link6" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link2" link2="${modified_prefix}fr3_link7" reason="User"/>
    </xacro:if>
    
    <!-- arm - arm sc -->
    <xacro:if value="$(arg with_sc)">
        <disable_collisions link1="${modified_prefix}fr3_link0" link2="${modified_prefix}fr3_link0_sc" reason="Adjacent"/>
        <disable_collisions link1="${modified_prefix}fr3_link0" link2="${modified_prefix}fr3_link1_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link0" link2="${modified_prefix}fr3_link2_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link0" link2="${modified_prefix}fr3_link3_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link0" link2="${modified_prefix}fr3_link4_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link0" link2="${modified_prefix}fr3_link5_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link0" link2="${modified_prefix}fr3_link6_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link0" link2="${modified_prefix}fr3_link7_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link1" link2="${modified_prefix}fr3_link0_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link1" link2="${modified_prefix}fr3_link1_sc" reason="Adjacent"/>
        <disable_collisions link1="${modified_prefix}fr3_link1" link2="${modified_prefix}fr3_link2_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link1" link2="${modified_prefix}fr3_link3_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link1" link2="${modified_prefix}fr3_link4_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link1" link2="${modified_prefix}fr3_link5_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link1" link2="${modified_prefix}fr3_link6_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link1" link2="${modified_prefix}fr3_link7_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link2" link2="${modified_prefix}fr3_link0_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link2" link2="${modified_prefix}fr3_link1_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link2" link2="${modified_prefix}fr3_link2_sc" reason="Adjacent"/>
        <disable_collisions link1="${modified_prefix}fr3_link2" link2="${modified_prefix}fr3_link3_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link2" link2="${modified_prefix}fr3_link4_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link2" link2="${modified_prefix}fr3_link5_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link2" link2="${modified_prefix}fr3_link6_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link2" link2="${modified_prefix}fr3_link7_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link3" link2="${modified_prefix}fr3_link0_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link3" link2="${modified_prefix}fr3_link1_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link3" link2="${modified_prefix}fr3_link2_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link3" link2="${modified_prefix}fr3_link3_sc" reason="Adjacent"/>
        <disable_collisions link1="${modified_prefix}fr3_link3" link2="${modified_prefix}fr3_link4_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link3" link2="${modified_prefix}fr3_link5_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link3" link2="${modified_prefix}fr3_link6_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link3" link2="${modified_prefix}fr3_link7_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link4" link2="${modified_prefix}fr3_link0_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link4" link2="${modified_prefix}fr3_link1_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link4" link2="${modified_prefix}fr3_link2_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link4" link2="${modified_prefix}fr3_link3_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link4" link2="${modified_prefix}fr3_link4_sc" reason="Adjacent"/>
        <disable_collisions link1="${modified_prefix}fr3_link4" link2="${modified_prefix}fr3_link5_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link4" link2="${modified_prefix}fr3_link6_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link4" link2="${modified_prefix}fr3_link7_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link5" link2="${modified_prefix}fr3_link0_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link5" link2="${modified_prefix}fr3_link1_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link5" link2="${modified_prefix}fr3_link2_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link5" link2="${modified_prefix}fr3_link3_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link5" link2="${modified_prefix}fr3_link4_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link5" link2="${modified_prefix}fr3_link5_sc" reason="Adjacent"/>
        <disable_collisions link1="${modified_prefix}fr3_link5" link2="${modified_prefix}fr3_link6_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link5" link2="${modified_prefix}fr3_link7_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link6" link2="${modified_prefix}fr3_link0_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link6" link2="${modified_prefix}fr3_link1_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link6" link2="${modified_prefix}fr3_link2_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link6" link2="${modified_prefix}fr3_link3_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link6" link2="${modified_prefix}fr3_link4_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link6" link2="${modified_prefix}fr3_link5_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link6" link2="${modified_prefix}fr3_link6_sc" reason="Adjacent"/>
        <disable_collisions link1="${modified_prefix}fr3_link6" link2="${modified_prefix}fr3_link7_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link7" link2="${modified_prefix}fr3_link0_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link7" link2="${modified_prefix}fr3_link1_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link7" link2="${modified_prefix}fr3_link2_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link7" link2="${modified_prefix}fr3_link3_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link7" link2="${modified_prefix}fr3_link4_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link7" link2="${modified_prefix}fr3_link5_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link7" link2="${modified_prefix}fr3_link6_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link7" link2="${modified_prefix}fr3_link7_sc" reason="Adjacent"/>
    </xacro:if>

    <!-- arm - base -->
    <disable_collisions link1="${modified_prefix}fr3_link0" link2="base_link"                        reason="Adjacent"/>
    <disable_collisions link1="${modified_prefix}fr3_link0" link2="base_wheel_collision_box_link"    reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link0" link2="front_left_wheel${wheel_suffix}"                reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link0" link2="front_right_wheel${wheel_suffix}"               reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link0" link2="rear_left_wheel${wheel_suffix}"                 reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link0" link2="rear_right_wheel${wheel_suffix}"                reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link0" link2="top_structure_link"               reason="Default"/>
    <disable_collisions link1="${modified_prefix}fr3_link1" link2="base_link"                        reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link1" link2="base_wheel_collision_box_link"    reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link1" link2="front_left_wheel${wheel_suffix}"                reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link1" link2="front_right_wheel${wheel_suffix}"               reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link1" link2="rear_left_wheel${wheel_suffix}"                 reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link1" link2="rear_right_wheel${wheel_suffix}"                reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link1" link2="top_structure_link"               reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link2" link2="base_link"                        reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link2" link2="base_wheel_collision_box_link"    reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link2" link2="front_left_wheel${wheel_suffix}"                reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link2" link2="front_right_wheel${wheel_suffix}"               reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link2" link2="rear_left_wheel${wheel_suffix}"                 reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link2" link2="rear_right_wheel${wheel_suffix}"                reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link2" link2="top_structure_link"               reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link3" link2="base_link"                        reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link3" link2="base_wheel_collision_box_link"    reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link3" link2="front_left_wheel${wheel_suffix}"                reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link3" link2="front_right_wheel${wheel_suffix}"               reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link3" link2="rear_left_wheel${wheel_suffix}"                 reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link3" link2="rear_right_wheel${wheel_suffix}"                reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link3" link2="top_structure_link"               reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link4" link2="base_link"                        reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link4" link2="base_wheel_collision_box_link"    reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link4" link2="front_left_wheel${wheel_suffix}"                reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link4" link2="front_right_wheel${wheel_suffix}"               reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link4" link2="rear_left_wheel${wheel_suffix}"                 reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link4" link2="rear_right_wheel${wheel_suffix}"                reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link5" link2="base_link"                        reason="User"/>
    <disable_collisions link1="${modified_prefix}fr3_link5" link2="front_left_wheel${wheel_suffix}"                reason="User"/>
    <disable_collisions link1="${modified_prefix}fr3_link5" link2="front_right_wheel${wheel_suffix}"               reason="User"/>
    <disable_collisions link1="${modified_prefix}fr3_link5" link2="rear_left_wheel${wheel_suffix}"                 reason="User"/>
    <disable_collisions link1="${modified_prefix}fr3_link5" link2="rear_right_wheel${wheel_suffix}"                reason="User"/>
    <disable_collisions link1="${modified_prefix}fr3_link6" link2="base_link"                        reason="User"/>
    <disable_collisions link1="${modified_prefix}fr3_link6" link2="front_left_wheel${wheel_suffix}"                reason="User"/>
    <disable_collisions link1="${modified_prefix}fr3_link6" link2="front_right_wheel${wheel_suffix}"               reason="User"/>
    <disable_collisions link1="${modified_prefix}fr3_link6" link2="rear_left_wheel${wheel_suffix}"                 reason="User"/>
    <disable_collisions link1="${modified_prefix}fr3_link6" link2="rear_right_wheel${wheel_suffix}"                reason="User"/>
    <disable_collisions link1="${modified_prefix}fr3_link7" link2="base_link"                        reason="User"/>
    <disable_collisions link1="${modified_prefix}fr3_link7" link2="front_left_wheel${wheel_suffix}"                reason="User"/>
    <disable_collisions link1="${modified_prefix}fr3_link7" link2="front_right_wheel${wheel_suffix}"               reason="User"/>
    <disable_collisions link1="${modified_prefix}fr3_link7" link2="rear_left_wheel${wheel_suffix}"                 reason="User"/>
    <disable_collisions link1="${modified_prefix}fr3_link7" link2="rear_right_wheel${wheel_suffix}"                reason="User"/>

    <xacro:if value="$(arg with_sc)">
        <disable_collisions link1="${modified_prefix}fr3_link4" link2="top_structure_link"            reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link5" link2="base_wheel_collision_box_link" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link5" link2="top_structure_link"            reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link6" link2="base_wheel_collision_box_link" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link6" link2="top_structure_link"            reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link7" link2="base_wheel_collision_box_link" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link7" link2="top_structure_link"            reason="User"/>
    </xacro:if>

    <!-- ============= arm sc ============= -->
    <!-- arm sc - arm sc -->
    <xacro:if value="$(arg with_sc)">
        <disable_collisions link1="${modified_prefix}fr3_link0_sc" link2="${modified_prefix}fr3_link1_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link0_sc" link2="${modified_prefix}fr3_link2_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link0_sc" link2="${modified_prefix}fr3_link3_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link0_sc" link2="${modified_prefix}fr3_link4_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link1_sc" link2="${modified_prefix}fr3_link2_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link1_sc" link2="${modified_prefix}fr3_link3_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link1_sc" link2="${modified_prefix}fr3_link4_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link2_sc" link2="${modified_prefix}fr3_link3_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link2_sc" link2="${modified_prefix}fr3_link4_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link3_sc" link2="${modified_prefix}fr3_link4_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link3_sc" link2="${modified_prefix}fr3_link5_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link3_sc" link2="${modified_prefix}fr3_link6_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link3_sc" link2="${modified_prefix}fr3_link7_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link4_sc" link2="${modified_prefix}fr3_link5_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link4_sc" link2="${modified_prefix}fr3_link6_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link4_sc" link2="${modified_prefix}fr3_link7_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link5_sc" link2="${modified_prefix}fr3_link6_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link5_sc" link2="${modified_prefix}fr3_link7_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link6_sc" link2="${modified_prefix}fr3_link7_sc" reason="Default"/>
    </xacro:if>

    <!-- arm sc - base -->
    <xacro:if value="$(arg with_sc)">
        <disable_collisions link1="${modified_prefix}fr3_link0_sc" link2="base_link"                        reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link0_sc" link2="front_left_wheel${wheel_suffix}"                reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link0_sc" link2="front_right_wheel${wheel_suffix}"               reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link0_sc" link2="rear_left_wheel${wheel_suffix}"                 reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link0_sc" link2="rear_right_wheel${wheel_suffix}"                reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link0_sc" link2="top_structure_link"               reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link0_sc" link2="base_wheel_collision_box_link"    reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link1_sc" link2="base_link"                        reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link1_sc" link2="front_left_wheel${wheel_suffix}"                reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link1_sc" link2="front_right_wheel${wheel_suffix}"               reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link1_sc" link2="rear_left_wheel${wheel_suffix}"                 reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link1_sc" link2="rear_right_wheel${wheel_suffix}"                reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link1_sc" link2="top_structure_link"               reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link1_sc" link2="base_wheel_collision_box_link"    reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link2_sc" link2="base_link"                        reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link2_sc" link2="front_left_wheel${wheel_suffix}"                reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link2_sc" link2="front_right_wheel${wheel_suffix}"               reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link2_sc" link2="rear_left_wheel${wheel_suffix}"                 reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link2_sc" link2="rear_right_wheel${wheel_suffix}"                reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link2_sc" link2="top_structure_link"               reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link2_sc" link2="base_wheel_collision_box_link"    reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link3_sc" link2="base_link"                        reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link3_sc" link2="front_left_wheel${wheel_suffix}"                reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link3_sc" link2="front_right_wheel${wheel_suffix}"               reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link3_sc" link2="rear_left_wheel${wheel_suffix}"                 reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link3_sc" link2="rear_right_wheel${wheel_suffix}"                reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link3_sc" link2="top_structure_link"               reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link3_sc" link2="base_wheel_collision_box_link"    reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link4_sc" link2="base_link"                        reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link4_sc" link2="front_left_wheel${wheel_suffix}"                reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link4_sc" link2="front_right_wheel${wheel_suffix}"               reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link4_sc" link2="rear_left_wheel${wheel_suffix}"                 reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link4_sc" link2="rear_right_wheel${wheel_suffix}"                reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link4_sc" link2="base_wheel_collision_box_link"    reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link5_sc" link2="base_link"                        reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link5_sc" link2="front_left_wheel${wheel_suffix}"                reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link5_sc" link2="front_right_wheel${wheel_suffix}"               reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link5_sc" link2="rear_left_wheel${wheel_suffix}"                 reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link5_sc" link2="rear_right_wheel${wheel_suffix}"                reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link6_sc" link2="base_link"                        reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link6_sc" link2="front_left_wheel${wheel_suffix}"                reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link6_sc" link2="front_right_wheel${wheel_suffix}"               reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link6_sc" link2="rear_left_wheel${wheel_suffix}"                 reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link6_sc" link2="rear_right_wheel${wheel_suffix}"                reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link7_sc" link2="base_link"                        reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link7_sc" link2="front_left_wheel${wheel_suffix}"                reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link7_sc" link2="front_right_wheel${wheel_suffix}"               reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link7_sc" link2="rear_left_wheel${wheel_suffix}"                 reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link7_sc" link2="rear_right_wheel${wheel_suffix}"                reason="User"/>
    </xacro:if>

    <!-- ============= base ============= -->
    <!-- base - base -->
    <xacro:husky_base_srdf/>
</robot>
